<div id="matrix-{shortcodeSlug}" class="display-none">
    <div class="container pagehead">
        <table>
            <tr>
                <td class="vmiddle">
                    <img class="back-to-matrix pointer"
                         src="images/gwoe-matrix-icon-arrow-50h.png" title="Zurück zur GWÖ-Matrix"/>
                </td>
                <td><span class="indicator-page-title"> <h2>{shortcode}: {name}</h2></span></td>
            </tr>
        </table>
    </div>

    <div class="tabs">
        <ul class="tablist">

            <span id="matrix-{shortcodeSlug}-goals" class="fixedanchor"></span>
            <li class="tabcontainer">
                <a href="#matrix-{shortcodeSlug}-goals" class="tablink matrix-goals-tab-title"></a>

                <div id="matrix-{shortcodeSlug}-goals-content" class="tabcontent">
                </div>
            </li>

            <span id="matrix-{shortcodeSlug}-impulsQuestions" class="fixedanchor"></span>
            <li class="tabcontainer">
                <a href="#matrix-{shortcodeSlug}-impulsQuestions" class="tablink matrix-impulsQuestions-tab-title"></a>

                <div id="matrix-{shortcodeSlug}-impulsQuestions-content" class="tabcontent">
                </div>
            </li>

            <span id="matrix-{shortcodeSlug}-table" class="fixedanchor"></span>
            <li class="tabcontainer">
                <a href="#matrix-{shortcodeSlug}-table" class="tablink matrix-table-tab-title"></a>

                <div id="matrix-{shortcodeSlug}-table-content" class="tabcontent">
                    <div id="matrix-{shortcodeSlug}-indicator-table-legend" class="indicator-table-legend"></div>
                    <table id="matrix-{shortcodeSlug}-indicator-table" class="dtable">
                    </table>
                    <div id="matrix-{shortcodeSlug}-details-content"
                         class="indicator-table-details"></div>
                </div>
            </li>

            <span id="matrix-{shortcodeSlug}-definition" class="fixedanchor"></span>
            <li class="tabcontainer">
                <a href="#matrix-{shortcodeSlug}-definition" class="tablink matrix-definition-tab-title"></a>

                <div id="matrix-{shortcodeSlug}-definition-content" class="tabcontent">
                </div>
            </li>

            <span id="matrix-{shortcodeSlug}-implementationHelp" class="fixedanchor"></span>
            <li class="tabcontainer">
                <a href="#matrix-{shortcodeSlug}-implementationHelp"
                   class="tablink matrix-implementationHelp-tab-title"></a>

                <div id="matrix-{shortcodeSlug}-implementationHelp-content" class="tabcontent">
                </div>
            </li>

            <span id="matrix-{shortcodeSlug}-moreinfo" class="fixedanchor"></span>
            <li class="tabcontainer">
                <a href="#matrix-{shortcodeSlug}-moreinfo" class="tablink matrix-moreinfo-tab-title"></a>

                <div id="matrix-{shortcodeSlug}-moreinfo-content" class="tabcontent">
                </div>
            </li>

        </ul>
    </div>
</div>