<div id="main-page" class="display-none">
    <div class="main-page-introtext img-center center">
        Ein alternatives Wirtschaftssystem, das auf Gemeinwohl-fördernden Werten aufgebaut ist.
        <br/><br/>
        Ein Veränderungshebel auf wirtschaftlicher, politischer und gesellschaftlicher Ebene – eine Brücke von Altem zu Neuem.
        <br/><br/>
        Besuchen Sie die <a href="http://gemeinwohl-oekonomie.org">offizielle Webseite der Gemeinwohl-Ökonomie</a>.
    </div>
    <div class="main-page-container-link col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#matrix" class="img-link">
            <img class="img-center img-responsive main-page-matrix-img" src="images/gwoe-matrix-icon.png" />
            <div class="main-page-container-link-title center">
                Interaktive<br/>Gemeinwohl-Matrix
            </div>
            <div class="main-page-container-link-description center">
                Erfahren Sie mehr über Gemeinwohl-Bilanzen.
            </div>
        </a>
    </div>
</div>
