<div id="main-page" class="display-none">
    <div class="img-center center">
        Ein alternatives Wirtschaftssystem, das auf Gemeinwohl-fördernden Werten aufgebaut ist.
        <br/><br/>
        Ein Veränderungshebel auf wirtschaftlicher, politischer und gesellschaftlicher Ebene – eine Brücke von Altem zu Neuem.
        <br/><br/>
        Besuche die <a href="http://gemeinwohl-oekonomie.org">offizielle Webseite der Gemeinwohl-Ökonomie</a>.
    </div>
    <div class="main-page-container-link center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#quick-test" class="img-link">
            <img class="img-center img-responsive" src="images/quick-test-icon.png" />
            <div class="main-page-container-link-title center">
                Schnelltest
            </div>
            <div class="main-page-container-link-description center">
                Bekommen Sie einen ersten Einblick wie gemeinwohlorientiert Sie wirtschaften.
            </div>
        </a>
    </div>
</div>
