/* Colors */
$grey: #CCCCCC;
$grey-middle: #555555;
$grey-border: #D8D8D8;
$grey-light: #FEFEFE;
$grey-light-darker: #F8F8F8;
$grey-light-border: #E5E5E5;
$grey-dark: #5C5C5C;

$white: #FFFFFF;

$gwoe-turquoise-color: #99CCCC;
$gwoe-olive-color: #CCCB98;
$gwoe-green2: #94BE4E;

$negative-color: #DE6B3C;
$negative-content-color: #7B7C7F;
$basic-level-color: #E8B809;
$advanced-level-color: #FFF101;
$experienced-level-color: #A3CF9A;
$model-level-color: #40AE49;

/* Sizes */
$normal-font-size: 14px;
$smaller-font-size: 12px;

$border-medium-size: 4px;
