$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'config_default';

@import '_utils';
@import '_table';
@import '_table_indicators';
@import '_tabs';
@import 'quicktest';

/* GENERAL - Start */

.divcontainer:before,
.divcontainer:after {
  content: "";
  display: table;
}

.divcontainer:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.divcontainer {
  zoom: 1;
}

/* end -------------- */

.main-page-matrix-img {
  width: 50%;
}

.page-wrapper {
  padding: 30px 5%;
}

.bubble {
  padding: 3px;
  background: none repeat scroll 0% 0% #EEEEEE;
  border-radius: 3px 3px 3px 3px;
}

#header-container {
  margin-bottom: 45px;
}

.main-page-introtext {
  padding-bottom: 50px;
}

.main-page-container-link-title {
  padding: 10px 0px;
  line-height: 1.1em;
  font-size: 4rem;
}

.main-page-container-link :hover {
  text-decoration: none;
}

.main-page-container-link-description,
.main-page-container-link-description:hover {
  color: #666666;
}

.whitebg {
  background-color: $grey-light;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: none;
  }
}

#footer-container {
  clear: both;
  float: right;
  padding: 200px 0px 30px 0px;
  color: $grey;
}

#footer-contents > a {
  color: $gwoe-turquoise-color;
}

.clear-both {
  clear: both;
}

/* Action */

.ind-trigger {
  cursor: pointer;
}
