$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'css-modal/modal';

/* Colors */
$grey: #CCCCCC;
$grey-middle: #555555;
$grey-border: #D8D8D8;
$grey-light: #FEFEFE;
$grey-light-darker: #F8F8F8;
$grey-light-border: #E5E5E5;

$gwoe-blue: #99CCCC;
$gwoe-green: #CCCB98;

$basic-level-color: #E8B809;
$advanced-level-color: #FFF101;
$experienced-level-color: #A3CF9A;
$model-level-color: #40AE49;

$negative-color: #DE6B3C;
$negative-content-color: #7B7C7F;

/* Sizes */
$normal-font-size: 14px;
$smaller-font-size: 12px;

$border-medium-size: 4px;

/* GENERAL - Start */

#header-container {
  margin-bottom: 15px;
}

.divcontainer:before,
.divcontainer:after {
  content: "";
  display: table;
}

.divcontainer:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.divcontainer {
  zoom: 1;
}

/* end -------------- */

.page-wrapper {
  padding: 5%;
}

.bubble {
  padding: 3px;
  background: none repeat scroll 0% 0% #EEEEEE;
  border-radius: 3px 3px 3px 3px;
}

.gwoe-green {
  color: $gwoe-green;
}

.gwoe-green-b {
  color: $gwoe-green;
  font-weight: bold;
}

.gwoe-blue {
  color: $gwoe-blue;
}

.gwoe-blue-b {
  color: $gwoe-blue;
  font-weight: bold;
}

.negative-color {
  color: $negative-color;
}

.negative-color-b {
  color: $negative-color;
  font-weight: bold;
}

.whitebg {
  background-color: $grey-light;
}

.negative-container {
  display: table;
  margin-bottom: 10px;
}

.negative-content {
  display: table-cell;
  width: 100%;
  font-size: $smaller-font-size;
  color: $negative-content-color;
}

.negative-points-container {
  display: table-cell;
  width: 90px;
  margin-left: 10px;
  color: $negative-color;
  font-weight: bold;
}

.negative-points {
}

.header-text-top {
  float: right;
}

.header-text-bottom {
  clear: both;
  float: left;
}

.indicator-cell {
  position: relative;
}

.indicator-cell a {
  text-decoration: none;
  color: inherit;
}

.indicator-title {
  font-weight: bold;
}

.indicator-description {
  font-size: $smaller-font-size;
}

.indicator-points {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0px 5px;
  color: $gwoe-green;
  font-weight: bold;
}

/* Indicator Pages */

.indicator-page-title {
  padding: 5px 0px 15px 0px;
  color: $gwoe-green;
}

.indicator-page-title h2 {
  font-weight: bold;
}

.indicator-table-legend {
  padding-bottom: 10px;
}

.basic-level-bg {
  background-color: $basic-level-color;
}

.subindicator-header {
  border-top: $border-medium-size solid $grey-border !important;
}

.basic-level-header {
  border-top: $border-medium-size solid $basic-level-color !important;
}

.advanced-level-header {
  border-top: $border-medium-size solid $advanced-level-color !important;
}

.experienced-level-header {
  border-top: $border-medium-size solid $experienced-level-color !important;
}

.model-level-header {
  border-top: $border-medium-size solid $model-level-color !important;
}

/* Hidden Modals */
.ind-trigger {
  cursor: pointer;
}

.fadeIn {
  opacity: 0;
}

.fadeOut {
  opacity: 1;
}

/* General Styles */
.display-none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: none;
  }
}

/* CSS Div Table */
.dtable {
  display: table;
  width: 100%;
  border: 1px solid $grey;
  background-color: #FFFFFF;
}

.dtable-row {
  display: table-row;
}

.dheader-style {
  text-align: left;
  font-weight: bold;
  font-size: $normal-font-size;
  text-shadow: 0px 1px 0px #FFFFFF;
  background-color: $grey-light-darker;
  background-image: linear-gradient($grey-light, $grey-light-darker);
  background-repeat: repeat-x;
}

.dtable-cell {
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid $grey-light-border;
  border-bottom: 1px solid $grey-light-border;
  padding: 4px 6px;
}

.dtable-last-cell {
  border-right: none;
}

.col-1-6 {
  width: 16.66667%;
}

.col-5-6 {
  width: 83.33334%;
}

/* Table Style */

.bootrap-row {
  border-top: 1px solid $grey-light-border;
}

/* CSS Bootstrap Div Table */
/* hack: http://codepen.io/basement31/pen/Ifaeu */

.bootstrap-table {
  position: relative;
}

/* Layout */
.row {
  overflow: hidden;
  position: relative;
  margin: 0px !important;
}

.row-wrapper {
  overflow: hidden;
  margin-bottom: -500px;
}

.row-cell {
  padding-bottom: 540px;
}

.row-cell {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

/* Style */
.bootstrap-table {
  border-bottom: 1px solid #CCCCCC;
}

.row {
  border-top: 1px solid #CCCCCC;
}

.row-cell {
  border-left: 1px solid #CCCCCC;
}

.last-row {
  border-bottom: 1px solid #CCCCCC;
}

.last-cell {
  border-right: 1px solid #CCCCCC;
}

/* Modal */

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba($grey-light, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-trigger {
  cursor: pointer;
}

/* ------------------------------------ */
/* Tabs                                 */
/* ------------------------------------ */

$tabs-border-color: $grey-border;

.tabs {
  min-height: 350px;
  width: 100%;
}

.tablist {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.tabcontainer {
  float: left;
  list-style-type: none;
}

.tabcontainer .tablink {
}

.fixedanchor:target + .tabcontainer .tablink {
  border-radius: 3px 3px 0 0;

  color: #000000;

  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background: -moz-linear-gradient(center top, #FFFFFF 12px, #FFFFFF 25px) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top, #FFFFFF 12px, #FFFFFF 25px) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top, #FFFFFF 12px, #FFFFFF 25px) repeat scroll 0 0 transparent;
  background: linear-gradient(center top, #FFFFFF 12px, #FFFFFF 25px) repeat scroll 0 0 transparent;
  border: 1px solid $tabs-border-color;
  border-bottom: none;
}

.fixedanchor:target + .tabcontainer div {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}

.tablink {
  padding: 5px 20px;
  position: relative;
  z-index: 1;
  font-size: 14px;

  display: block;
  top: 1px;

  color: #888888;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid $tabs-border-color;
}

.tablink:hover {
}

.tabcontent {
  position: absolute;
  float: left;
  width: 100%;
  left: 0;
  padding: 25px 5px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: #FFFFFF;
}

.fixedanchor {
  position: fixed;
  display: none;
}

@media screen and (max-width: 300px) {
  .tablink {
    font-size: 0.8em;
    padding: 12px 10px 12px 10px;
  }
}