<div id="matrix-{shortcodeSlug}" class="container container-page display-none">
    <div class="container pagehead">
        <table>
            <tr>
                <td class="vmiddle">
                    <img class="back-to-matrix pointer"
                         src="images/gwoe-matrix-icon-arrow-50h.png" title="Zurück zur GWÖ-Matrix"/>
                </td>
                <td><span class="indicator-page-title"> <h2>{shortcode}: {name}</h2></span></td>
            </tr>
        </table>
    </div>

    <div class="container indicator-editor-container bubble">
        <div class="bubble-inner">
            <div class="meta">
                <button type="button" class="button primary">Speichern</button>
            </div>

            <div class="bubble-contents">&nbsp;
                <textarea name="matrix-{shortcodeSlug}-editor">
                    <h2>Editieren Sie diesen Indikator</h2>

                    <p>Einfach:</p>
                    <ul>
                        <li>darauf klicken</li>
                        <li>editieren</li>
                    </ul>
                </textarea>
            </div>

        </div>
    </div>
</div>